<!DOCTYPE html>
<head>
  <title>Code Evaluator</title>

  <link rel="stylesheet" href="{{ url_for('static', filename='reset.css') }}" />
  <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}" />
</head>

<body>
  <header>
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul class=flashes>
        {% for message in messages %}
          <li>{{ message }}</li>
        {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}
  </header>

  <main>
    <h3>Code Evaluator</h3>
    <h4>Enter some lines of code.</h4>
    <form action="/code_evaluator" method="post">
			<textarea name="prompt" cols="300" rows="50" ></textarea>
      <input type="submit" value="Analyze" />
    </form>

    {% if result %}
      <div class="result">
				<textarea name="prompt" cols="50" rows="50">
					{{ result }}
				</textarea>
      </div>
    {% endif %}
  </main>
</body>
