<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}" />
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
		<script src="{{ url_for('static', filename='funcs.js') }}"></script>
		<title>Dashboard</title>
	</head>

	<body>
		<header>
			<nav>
				<a href="/evaluate">Evaluate Files</a>
				<i style="float: right" class="small-icon fa fa-sign-out" aria-hidden="true" onclick="displayLogoutConfirmation('Are you sure you want to log out?')"></i>
			</nav>

			<section id="error-messages">
				{% with messages = get_flashed_messages() %}
						{% if messages %}
								<div class="flashes">
								{% for message in messages %}
										<p>{{ message }}</p>
								{% endfor %}
								</div>
						{% endif %}
				{% endwith %}
			</section>
		</header>

		<main>
			<h1>{{ current_user.username }}'s Evaluations</h1>

			{% if evaluations %}
			<div>
				Sort by:
				<select id="pageSelect" onchange="redirectToPage()">
					<option value="created_at">Timestamp</option>
					<option value="filename">Filename</option>
				</select>
			</div>
			{% endif %}

			<section>
				{% if evaluations %}
					<ul>
						{% for evaluation in evaluations %}
							{% with table_results=evaluation.data, filename=evaluation.filename, timestamp=evaluation.created_at, id=evaluation.id %}
								{% include 'evaluation_table.html' %}
							{% endwith %}
						{% endfor %}
					</ul>
				{% else %}
					<p>You have not uploaded any evaluations yet.</p>
				{% endif %}
			</section>
		</main>

		<script>
			function redirectToPage() {
				var pageSelect = document.getElementById('pageSelect');
				var selectedValue = pageSelect.options[pageSelect.selectedIndex].value;
				window.location.href = '/dashboard?sort_by=' + selectedValue;
			}

			function deleteAlert(id) {
				var confirmDelete = confirm('Are you sure you want to delete this evaluation?');
				if (confirmDelete) {
					window.location = `/api/deleteEval/${id}`;
				}
			}
		</script>
	</body>
</html>